*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: hsl(270, 20%, 96%);
}

.wrapper::before,
.wrapper::after {
  content: '';
  width: 50rem;
  height: 70rem;
  position: absolute;
}

.wrapper::before {
  background-image: linear-gradient(210deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  top: 0;
  left: -9rem;
  border-bottom-left-radius: 35rem;
  border-bottom-right-radius: 35rem;
}

.wrapper::after {
  background-color: hsla(289, 100%, 72%, 0.05);
  bottom: 0;
  right: -18rem;
  border-top-left-radius: 35rem;
  border-top-right-radius: 35rem;
}

@media screen and (max-width: 48em) {
  .wrapper::before,
  .wrapper::after {
    width: 100vw;
    height: 50rem;
  }

  .wrapper::before {
    left: -50%;
  }

  .wrapper::after {
    right: -50%;
  }
}

.container {
  width: 100%;
  max-width: 94rem;
  gap: 1rem;
  display: flex;
  margin: 0 auto;
  z-index: 1;
}

@media screen and (max-width: 48em) {
  .container {
    flex-direction: column;
    gap: 6rem;
    padding-block: 6.4rem;
  }
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
}

.phone {
  width: 24.7rem;
  font-size: 0.8rem;
  background-color: hsl(270, 20%, 96%);
  border: 10px solid hsl(0, 0%, 100%);
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.2);
}

.phone::before {
  content: '';
  width: 13rem;
  height: 1.8rem;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  padding: 3rem 1.4rem 1.2rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.avatar {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.recipient {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 500;
}

.status {
  color: hsl(276, 100%, 81%);
  font-size: 0.8rem;
}

.info {
  margin-right: auto;
}

.option.material-icons {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
}

.app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.message-block {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.message {
  border-radius: 1rem;
}

.text {
  padding: 0.75rem 0.8rem;
  max-width: 12.8rem;
}

.sent {
  transform-origin: bottom right;
}

.text.sent {
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 0.3rem;
}

.recieved {
  transform-origin: bottom left;
}

.text.recieved {
  background-color: hsla(289, 100%, 72%, 0.15);
  color: hsl(276, 55%, 52%);
  border-bottom-left-radius: 0.3rem;
}

.message-block:has(.sent),
.sent-block {
  /* fallback for .has() */
  align-items: flex-end;
}

.pictures {
  display: flex;
  gap: 0.8rem;
  background-color: transparent;
  border-radius: 0;
}

.pictures img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 1rem;
}

.offer {
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 16rem;
  padding: 0.9rem 1rem;
}

.price {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding-right: 0.6rem;
}

.radio-input {
  display: none;
}

.radio-label {
  color: hsl(0, 0%, 100%);
  position: relative;
  padding-left: 2rem;
}

.radio-button {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: -0.06rem;
  left: 0;
  border: 1px solid hsl(289, 100%, 72%);
  border-radius: 50%;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 0.6rem;
  border-radius: 5rem;
}

.text-input {
  border: none;
  flex-grow: 1;
  outline: none;
  background-color: transparent;
  padding-left: 1.2rem;
  caret-color: hsl(206, 6%, 79%);
}

.text-input::placeholder {
  color: hsl(206, 6%, 79%);
}

.submit {
  background-color: hsl(271, 36%, 24%);
  border-radius: 50%;
  padding: 0.5rem;
}

.introduction {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: hsl(270, 7%, 64%);
  line-height: 1.6;
}

@media screen and (max-width: 48em) {
  .introduction {
    padding: 0 3.2rem;
    text-align: center;
  }
}

.heading {
  font-size: 3.95rem;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
  margin-bottom: 1rem;
}
